<main class="container">
    <nav class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
    </nav>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h1 class="border-bottom border-gray pb-2">Account Details</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="../assets/img/people.jpg">
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">First Name</strong>
                                User Details
                            </p>
                        </div>

                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Last Name</strong>
                                User Details
                            </p>
                        </div>
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Date Of Birth</strong>
                                User Details
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Mail</strong>
                                User Details
                            </p>
                        </div>
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Phone-No</strong>
                                User Details
                            </p>
                        </div>
                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Status</strong>
                                User Details
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="media text-muted pt-3">
                            <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt=""
                                class="mr-2 rounded">
                            <p class="media-body pb-3 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Gender</strong>
                                User Details
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>